{%extends 'base.html'%}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Confirm Booking!</legend>
                <div class="article-metadata d-flex justify-content-between align-items-center">
                    <div>
                        <p>{{vehicle.vehicle.make_and_model}}</p>
                        <p>{{vehicle.vehicle.registration_number}}</p>
                    </div>
                    <div>
                        <img class='rounded-circle account-img' src={{vehicle.image1.url}}/>
                    </div>
                    <div class="form-group">
                        <form method='POST'>
                            {%if not user.profile.have_driving_liscence%}
                            <label for='driving_liscence'>Driving Liscence ID</label>
                            <input name='driving_liscence' id='driving_liscence'/>
                            {%endif%}
                            {{form.as_p}}
                            <input type='hidden' name='vehicle_credential_id'  value='{{vehicle.id}}'/>
                        </form>
                        <a class="btn btn-outline-info" href="{%url 'vehicle-detail' vehicle.id%}" type="">Go Back</a>
                        <button class="btn btn-outline-success" type="submit">Confirm</button>
                    </div>
                </div>
                
            </fieldset>

    </div>
{%endblock%}