{%extends 'base.html'%}
{%block content%}    
    {% for vehicle in vehicles%}
        {%if vehicle.available%} 
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata d-flex justify-content-between align-items-center">
                <div class="article-metadata">
                    <img class='rounded-circle article-img' src='{{vehicle.image1.url}}'>
                    <a class="mr-2" href="#">{{vehicle.renter.buisiness_name}}</a>
                    <small class="text-muted">{{vehicle.location}}</small>
                </div>
                <div>
                    <a class="btn btn-primary" href="{%url 'vehicle-detail' vehicle.id %}">View Details</a>
                </div>
            </div>
            <h4><a class="article-title" href="#">{{vehicle.vehicle.make}} {{vehicle.vehicle.model}}</a></h4>
            <p class="article-content">Seating Capacity - {{vehicle.vehicle.seating_capacity}}</p>
            <p class="article-content">Rent for {{vehicle.vehicle.rent.fixed_price_distance}}km - Rs {{vehicle.vehicle.rent.fixed_price}}</p>
            <p class="article-content">After {{vehicle.vehicle.rent.fixed_price_distance}}km - Rs {{vehicle.vehicle.rent.per_km_rate}}/km</p>
        </div>
        </article>
        {%endif%}
    {%endfor%}
{%endblock%}