{%extends 'base.html'%}
{%block content%}
    {%if booking.booking_status == 'cancelled_user' or booking.booking_status == 'cancelled_renter' %}
        <article class="media content-section" style='background-color:#FFC6AC'>    
    {%else%}
        <article class="media content-section" style='background-color:#C8E4B2;'>
    {%endif%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="background-color:#FF8989">You sure to Cancel Booking!</legend>
                <div class="article-metadata d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Booking ID : {{booking.id}}</h4>
                        <p>{{booking.vehicle.make}} {{booking.vehicle.model}}</p>
                        <p>{{booking.vehicle.registration_number}}</p>
                        <p>{{booking.vehicle.renter.buisiness_name}}</p>
                        <p>Booked from {{booking.booking_from}}</p>
                        <p> to {{booking.booking_till}}
                    </div>
                    <div>
                        <img class='rounded-circle account-img' src={{booking.vehicle.image1.url}}/>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-outline-info" href="{%url 'my-bookings'%}" type="">Go Back</a>
                        <form method='POST'>
                        <input type='hidden' name='vehicle_credential_id'  value='{{booking.id}}'/>
                        </form>
                        <button class="btn btn-outline-danger" type="submit">Confirm</button>
                    </div>
                </div>
                
            </fieldset>

    </div>
{%endblock%}